---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Alan Dev" description="About Alan's life and professional career">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline=":)"
			>
				<img
					width="400"
					height="800"
					src="/assets/PORTFOLIO2.webp"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						My passion for technology shines through in every project I take on. I focus on usability, innovation, and code quality, aiming to deliver digital solutions that not only meet but exceed client expectations.
					</p>
					<!-- <p>
						Arcu dui vivamus arcu felis bibendum ut tristique et egestas. Eget gravida cum sociis
						natoque penatibus. Cras fermentum odio eu feugiat pretium nibh. Proin nibh nisl
						condimentum id venenatis. Porta nibh venenatis cras sed felis eget velit. Id diam vel
						quam elementum pulvinar etiam non.
					</p>
					<p>
						Ultrices tincidunt arcu non sodales neque sodales ut. Sed enim ut sem viverra aliquet
						eget sit amet. Lacus luctus accumsan tortor posuere ac ut consequat semper viverra.
						Viverra accumsan in nisl nisi scelerisque eu ultrices. In massa tempor nec feugiat nisl
						pretium fusce.
					</p> -->
				</div>
			</section>
			<section>
				<h2 class="section-title">Work Experience</h2>
				<div class="content">
					<p>AI Specialist and Software Developer</p>
					<p><strong>Kov Parts (2024 - Current)</strong></p>
					<br>
					<p>Full-stack developer</p>
					<p><strong>Corvuz (2022 - 2024)</strong></p>
					<br>
					<p>Freelance developer</p>
					<p><strong>Rehabilit (2021 - 2023)</strong></p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>Computer Engineer</p>
					<p><strong>Tecnologico Nacional de México Campus Purísima del Rincón (2019 - 2024)</strong></p>
					<br>
					<p>TOELF ITP English Certified</p>
					<p><strong>Educational Testing Service (2024)</strong></p>
					<br>
					<p>Digital Economy - 4.0 Industry</p>
					<p><strong>Social Service (2022)</strong></p>
					<br>
					<p>Technical Degree in Computer Equipment Support and Maintenance.</p>
					<p><strong>CECYTE Purísima I (2019)</strong></p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Courses</h2>
				<div class="content">
					<p>Computer Engineer</p>
					<p><strong>Tecnologico Nacional de México Campus Purísima del Rincón (2019 - 2024)</strong></p>
					<br>
					<p>TOELF ITP English Certified</p>
					<p><strong>Educational Testing Service (2024)</strong></p>
					<br>
					<p>Digital Economy - 4.0 Industry</p>
					<p><strong>Social Service (2022)</strong></p>
					<br>
					<p>Technical Degree in Computer Equipment Support and Maintenance.</p>
					<p><strong>CECYTE Purísima I (2019)</strong></p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Courses</h2>
				<div class="content">
					<p>PHP/Laravel and Web Development</p>
					<p><strong>(2024)</strong></p>
					<br>
					<p>Requirements lifting course</p>
					<p><strong>(2023)</strong></p>
					<br>
					<p>Virtual Private Servers administration</p>
					<p><strong>(2023)</strong></p>
					<br>
					<p>Mobile applications with flutter</p>
					<p><strong>(2022)</strong></p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
		display: flex;
		margin: 0 auto;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
